* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-2{
    display: flex;
    height: 100vh;
    min-height: 700px;
    background-color: var(--white);
    align-items: center;
    justify-content: center;

}
    

.square {
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0px 0px 10px 1px;
}

.squares {
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 200px;
    height: 400px;
    background-color: var(--black);

}

.square1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
    background-color: var(--white);
    cursor: pointer;
}

.square1:hover {
    background-color: var(--black);
}

 
.square1 > img {
    width: 60px;
    height: 60px;
    border-radius: 10px;

}


.info {
    width: 500px;
    padding: 20px;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    
}




.details {
   width: 450px;
   height: 70px;
   background-color: var(--white);
   display: flex;
   padding: 5px;
   border-radius: 8px;
}

.progress {
    width: 0%;
    height: 100%;
    transition: width 0.3s, background-color 0.3s;
    border-radius: 4px;

}


@media screen and (max-width: 768px) {
    .square {
        flex-direction: column;
    }
    .squares {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 400px;
        height: 200px;
    }
    .info {
        width: 400px;
        height: 300px;
        padding: 20px;
        background-color: var(--gray);
    }
}

@media screen and (max-width: 480px) {
    .squares {
        width: 350px;
        height: 175px;
    }

    .info {
        width: 350px;
        height: 300px;
        padding: 20px;
        background-color: var(--gray);
    }
} 